* {
    margin:0;
    padding: 0;
}

html, body {
    height: 100%;
}

nav {
    width: 100%;
    background-color: lightsalmon;
    height: 40px;
    padding: 10px 0;
}

li {
    display: inline-block;
    margin: 0 5px;
}

a:link, a:visited {
    background-color: lightskyblue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    border: 1px solid grey;
    
  }
  
  a:hover, a:active {
    background-color:black;
}

iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 60px;
    bottom: 0;
    right: 0;
    display: block;
    border: none;
}